/* src/styles/cardadicionar.css */

.card-adicionar {
  /* CORREÇÃO DA COR DE FUNDO (Verde Musgo) */
  background-color: #1A302D; 
  
  /* Borda tracejada em tom de verde */
  border: 2px dashed #2A524C; 
  border-radius: 12px;       
  padding: 20px;
  
  /* Altura fixa (maior) */
  height: 250px; 
  box-sizing: border-box; 

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.2s ease;
}

/* Estilo do ícone "+" */
.card-adicionar .plus-icon {
  font-size: 80px;
  font-weight: 200;
  line-height: 1;
  
  /* CORREÇÃO DA COR (Verde claro) */
  color: #34D399; 
  transition: all 0.2s ease;
  z-index: 1;
}

/* Efeito de hover */
.card-adicionar:hover {
  border-color: #34D399; /* Borda fica verde claro */
  transform: translateY(-5px);
}

.card-adicionar:hover .plus-icon {
  color: white; 
  transform: scale(1.1);
}